<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="si" method="post">
<input type="number" name="studentid" placeholder="sid"><br>
<input type="text" name="studentname" placeholder="sname"><br>
<input type="text" name="studentemail" placeholder="semail"><br>
<select name="coursename">
<option>DevOps</option>
<option>Java Fullstack</option>
<option>Python</option>
</select>
<button>submit</button>
</form>
</body>
</html>